<section class="row m-0 p-5 justify-content-between">
    <div class="col-12 col-sm-6 col-ms-4 col-lg-3 my-3" routerLink="my-profile">
        <div class="btn-dash mx-2 h-100">
            <picture>
                <img src="https://picsum.photos/200" alt="products img" class="img-dash">
            </picture>
            <h3 class="text-center mt-3">My Profile</h3>
        </div>
    </div>

    <div class=" col-12 col-sm-6 col-ms-4 col-lg-3 my-3" routerLink="my-orders">
        <div class="btn-dash mx-2 h-100">
            <picture>
                <img src="https://picsum.photos/202" alt="products img" class="img-dash">
            </picture>
            <h3 class="text-center mt-3">My Orders</h3>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-ms-4 col-lg-3 my-3" routerLink="/cart">
        <div class="btn-dash mx-2 h-100">
            <picture>
                <img src="https://picsum.photos/201" alt="products img" class="img-dash">
            </picture>
            <h3 class="text-center mt-3">Cart</h3>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-ms-4 col-lg-3 my-3" routerLink="/shop">
        <div class="btn-dash mx-2 h-100">
        <picture>
            <img src="https://picsum.photos/203" alt="products img" class="img-dash">
        </picture>
        <h3 class="text-center mt-3">Shop</h3>
    </div>
    </div>
</section>