<section class="container row m-0 mx-auto mb-3">
    <div class="col-12 my-4">
        <h1>
            The best E-commerce <br>developed EVER
        </h1>
    </div>
    <div class="col-12 col-sm-6">
        <h2>
            Revolutionizing Online Retail: Setting New Standards in E-commerce Development
        </h2>
    </div>
    <div class="col-12 col-sm-6">
        <p>At Urano, we are in the business of shaping the future of online retail. Our mission is to provide a versatile E-commerce platform that can seamlessly adapt to a wide array of products and industries. Think of us as your e-commerce template, a solution designed to empower businesses of all types to thrive in the digital marketplace. Our commitment to innovation and adaptability means you can create the online store you envision, with the flexibility to tailor it to your unique needs. Whether you're selling fashion, electronics, or anything in between, we're here to provide you with the tools and support you need to succeed in the world of e-commerce.</p>
    </div>
</section>

<section class="container-fluid justify-content-center my-4">
    <div class="row m-0 mx-auto container justify-content-around">
        <figure class="col-6 col-sm-3 d-flex flex-column align-items-center justify-content-center animate__animated animate__fadeIn animate__delay">
            <img src="https://picsum.photos/200?random=1" alt="" class="img-fluid rounded">
            <figcaption class="text-center my-2">Description</figcaption>            
        </figure>
        <figure class="col-6 col-sm-3 d-flex flex-column align-items-center justify-content-center animate__animated animate__fadeIn animate__delay-1s">
            <img src="https://picsum.photos/200?random=2" alt="" class="img-fluid rounded">
            <figcaption class="text-center my-2">Description</figcaption>
        </figure>
        <figure class="col-6 col-sm-3 d-flex flex-column align-items-center justify-content-center animate__animated animate__fadeIn animate__delay-2s">
            <img src="https://picsum.photos/200?random=3" alt="" class="img-fluid rounded">
            <figcaption class="text-center my-2">Description</figcaption>
        </figure>
        <figure class="col-6 col-sm-3 d-flex flex-column align-items-center justify-content-center animate__animated animate__fadeIn animate__delay-3s">
            <img src="https://picsum.photos/200?random=4" alt="" class="img-fluid rounded">
            <figcaption class="text-center my-2">Description</figcaption>
        </figure>
    </div>
</section>

<section class="clients-section">
    <div class="mx-auto container justify-content-around py-3">
        <h2 class="text-light text-center">Our Clients</h2>

    </div>
</section>