<aside>

    <mat-form-field class="filter">
        <mat-label>Order By</mat-label>
        <mat-select (valueChange)="changeFilterOrder($event)" name="orderBy" id="orderBy">
            <mat-option value="0">Price: Low to High</mat-option>
            <mat-option value="1">Price: High to Low</mat-option>
            <mat-option value="2">Name: Low to High</mat-option>
            <mat-option value="3">Name: High to Low</mat-option>
            <mat-option value="4" selected>Newest Arrivals</mat-option>
            <mat-option value="5">Oldest Arrivals</mat-option>
        </mat-select>
      </mat-form-field>

    <form role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    </form>
    
    <h3>Categories</h3>
    <ul>
        <li *ngFor="let cat of categories">{{cat.name}}</li>
    </ul>
</aside>

<section class="container-fluid d-flex flex-column justify-content-center">
    <span *ngIf="!data" class="text-center">Loading Products...</span>
    
    <div class="container row" *ngIf="data">

        <div class="col-12 col-sm-4 col-lg-3 product" *ngFor="let product of data">
            <figure class="effect-goliath">
                <img [src]="product.img" alt="{{product.description}}" class="product_img"/>
                <figcaption>
                    <h2>{{product.name | titlecase}}</h2>

                        <p class="text-center">$ {{product.cost}}</p>

                    <a routerLink="details/{{product.id}}"></a>
                </figcaption>			
            </figure>



            <div class="product-info">
                <p>{{product.description}}</p>
            </div>
        </div>

    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]" class="background-paginator">
    </mat-paginator>
</section>
