
<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="container-sidenav" mode="side" >
    <aside class="filter_products">
    
    <mat-form-field>
        <mat-label>Order By</mat-label>
        <mat-select (valueChange)="changeFilterOrder($event)" name="orderBy" id="orderBy" [(value)]="selectedOrder">
            <mat-option value="0">Price: Low to High</mat-option>
            <mat-option value="1">Price: High to Low</mat-option>
            <mat-option value="2">Name: Low to High</mat-option>
            <mat-option value="3">Name: High to Low</mat-option>
            <mat-option value="4">Newest Arrivals</mat-option>
            <mat-option value="5">Oldest Arrivals</mat-option>
        </mat-select>
      </mat-form-field>

    <!-- <form role="search" >
        <mat-input class="form-control" type="search" placeholder="Search" aria-label="Search" (input)="changeFilterText($event)" [(ngModel)]="this.filter.freeText">
    </form> -->
    <form #filterForm="ngForm" class="search-form">
    <mat-form-field class="example-form-field">
        <mat-label>Search</mat-label>
        <input matInput type="text" name="filter" [(ngModel)]="filter.freeText">
        @if (filter.freeText) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="filter.freeText=''" >
            <mat-icon>close</mat-icon>
          </button>
        }@else {
          <button matSuffix mat-icon-button >
            <mat-icon>search</mat-icon>
          </button>
        }
      </mat-form-field>
    </form>

    <mat-form-field *ngIf="!category">
        <mat-label>Categories</mat-label>
        <mat-select (valueChange)="changeFilterCategory($event)" name="category" id="category">
            <mat-option value="">All</mat-option>
            @for (category of categories; track $index) {<mat-option [value]="category.id">{{category.name}}</mat-option>}

        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Brands</mat-label>
        <mat-select (valueChange)="changeFilterBrand($event)" name="category" id="category">
            <mat-option value="">All</mat-option>
            @for (brand of brands; track $index) {<mat-option [value]="brand.id">{{brand.name}}</mat-option>}

        </mat-select>
      </mat-form-field>

      <div class="d-flex justify-content-center slider-cont">

        <mat-slider min="0" max="500" step="10" discrete [displayWith]="formatLabel">
          <input value="0" matSliderStartThumb (change)="sliderMinChanged($event)">
          <input value="500" matSliderEndThumb (change)="sliderMaxChanged($event)">
        </mat-slider>
      </div>

  
</aside>
  </mat-drawer>

<mat-drawer-content>
<section class="container-fluid d-flex flex-column justify-content-center product-container h-100">

  @if(isLoadingResults){
    <span class="text-center">Loading Products...</span>

  }@else {
    <div class="container-button-sidenav">
      <button mat-icon-button aria-label="Display filters" (click)="drawer.toggle()" class="d-flex justify-content-center align-items-center">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="row p-4" *ngIf="data.length>0">

<!-- PRODUCTS -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 product py-3" *ngFor="let product of data">
          
        <div class="card product-card" (click)="goToDetail(product.id)">
          <img [src]="product.img"  class="card-img-top product_img" alt="{{product.description}}">  
          
          <div class="product-category" *ngIf="product.Category">
            <span >{{product.Category.name}}</span>
          </div>

          <div class="product-brand" *ngIf="product.Brand">
            <span>{{product.Brand.name}}</span>
          </div>
          <div class="card-body">

            <h2 class="text-center">{{product.name | titlecase}}</h2>
            <p class="text-center">$ {{product.cost}}</p>
          </div>
        </div>
      </div>
<!-- END PRODUCTS -->

  </div>
  <div class="row p-4" *ngIf="data.length==0">

    <!-- NO PRODUCTS -->
         No products {{category? 'in category "'+category+'"' :''}}
    <!-- PRODUCTS -->
    
      </div>
  }

    <mat-paginator [length]="resultsLength" [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]" class="background-paginator">
    </mat-paginator>
    
</section>
</mat-drawer-content>
</mat-drawer-container>