@import '../../../../styles.variables.scss';

:host{
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
}
// DRAWER - GENERAL CONTAINER
.drawer-container {
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }

// FILTERS - SIDENAV 
.container-sidenav {
    padding: 20px;
  }

  .container-button-sidenav {
    padding:0.5rem 2rem 0rem 2rem;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }

.filter_products{
    display: flex;
    flex-direction: column;
}

mat-slider{
    width: 80%;
}

// CLASSES FOR PRODUCT CARDS 
.product-container, .product-container *{
    box-sizing: border-box;
}
  .product-card{
    height: 100%;
    cursor: pointer;
    position: relative;
  }
  .product-card:hover{
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: .75s; /* don't forget to set a duration! */
  }
  .product-brand{
    background-color: $light_color;
    padding: 5px;
    //color: white;
  }
  .product-category{
    position: absolute;
    right: 0;
    top: 10px;
    padding: 5px;
    background-color: $secondary_color;
    color: white;
  }


  @media(max-width:920px){
    .filter_products{
        flex-direction: row;
        flex-wrap: wrap;
        gap:20px;
       
        * {
          box-sizing: border-box;
        }


    }
    .container-sidenav{
       // height: 250px;
        position: relative;
        transform: translate3d(0, -100%, 0);
        ::ng-deep .mat-drawer-inner-container{
          overflow: visible !important;
        } 
    }
    .drawer-container {
        display: flex;
        flex-direction: column;
      }
      .mat-drawer-content{
        margin-left: 0px !important;
      }
      .mat-drawer-transition .mat-drawer-content{
        transition-property:transform,margin-top,margin-bottom;
      }
  }

  @media (max-width:550px){
    mat-form-field, .search-form, .slider-cont{
    width: -webkit-fill-available;}
  }