
<h1 mat-dialog-title>Términos y Condiciones</h1>
<mat-dialog-content class="mat-typography">
  <h3>REGLAMENTO INTERNO</h3>
  <p>Usted se está incorporando al Instituto Superior de Indumentaria I.S.I Hermenegildo Zampar, hoy posicionada como la más prestigiosa del país y con una trayectoria educativa de más de 40 años. Nuestros Diseñadores y Modelistas egresados son reconocidos y ampliamente requeridos por la Industria de la Confección debido a la practicidad y solidez de sus conocimientos. Consideramos la necesidad de hacerle conocer nuestro Reglamento Interno, de cumplimiento obligatorio para todo estudiante regular.</p>

  <h2>Normativas:</h2>
  <ol>
    <li>El alumno podrá acceder a tutorías todas las veces que lo crea necesario, comunicándose con la Escuela vía mail o teléfono. Recomendamos no dejar huecos o dudas en el aprendizaje y muy especialmente sugerimos realizar todas las prácticas propuestas a través de los módulos de enseñanza. Cada vez que surjan dudas estaremos aquí para ayudarlos. Al ser un aprendizaje en escalones, será necesario por ejemplo, aprender bien y sin dudas el trazado de las mangas para poder abordar las camisas de las clases siguientes.</li>
    <li>Para obtener el diploma, el alumno deberá haber cursado la totalidad de los módulos de enseñanza.</li>
    <li>La Certificación Final consta de un Diploma de Estudios acreditado por el Profesor Hermenegildo Zampar, creador de Único Sistema de Enseñanza de Moldería Industrial y Diseño de Modas, cuya trayectoria educativa, editorial y televisiva avalan con solidez la salida laboral de dicha certificación.</li>
    <li>La capacitación obtenida no habilita para la enseñanza de nuestro Sistema que se encuentra amparado por la ley de marcas y patentes.</li>
    <li>Los pagos en concepto de matrícula no tienen devolución.</li>
    <li>El material bibliográfico y pedagógico utilizado para las clases no se puede fotocopiar ni reproducir por cualquier medio ni procedimiento, incluidos la reprografía y el tratamiento informático. Tampoco se pueden dar clases utilizando este material exclusivo de nuestras Escuelas sin la debida autorización escrita. Dicha omisión constituye un delito y es una grave violación a los derechos intelectuales e industriales y está penado por la ley.</li>
    <li>Se estiman dos ajustes de cuota al año, de acuerdo a las variaciones inflacionarias.</li>
  </ol>
  <p><em>En caso de variaciones en el valor de la cuota, la misma será informada con la debida anticipación.
  </em></p>

  <h3>MUY IMPORTANTE:</h3>
  <p>En los cursos a distancia los tiempos de cursada los decide el alumno, pudiendo adelantar o retrasar las clases de acuerdo a su conveniencia. Lo mismo sucede en cuanto a suspender o retomar las veces que lo crea necesario. Esto es muy importante porque permite por ejemplo, aplicar el costo a dos meses de estudio, solicitando clases quincenales en vez de las semanales propuestas.</p>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-primary button ">Aceptar</button>
  <button mat-button mat-dialog-close class=" btn buttonInv button">Rechazar</button>
</mat-dialog-actions>