<!-- header -->
<section class="banner row m-0">
    <div class="col-12 col-sm-4 col-lg-6">
    </div>
    <div class="col-12 col-sm-8 col-lg-6 p-5 m-auto">
        <div class="banner_box text-center rounded">
            <img src="" alt="">
            <h1>Un ecommerce muy lindo</h1>
            <p>La descripción de un e-Commerce muy lindo</p>
        </div>
    </div>
</section>

<!-- PRODUCTS -->
<section class="container-fluid d-flex justify-content-center">
    <div class="container row">

        <div class="col-12 col-sm-4 col-lg-3 product" *ngFor="let product of products">
            <figure class="effect-goliath">
                <img [src]="product.img" alt="{{product.description}}" class="product_img"/>
                <figcaption>
                    <h2>{{product.name | titlecase}}</h2>

                        <p class="text-center">$ {{product.cost}}</p>

                    <a routerLink="details/{{product.id}}"></a>
                </figcaption>			
            </figure>



            <div class="product-info">
                <p>{{product.description}}</p>
            </div>
        </div>

    </div>
</section>


<!-- FEATURES -->
<section class="container marketing">

    <div class="row featurette">
        <div class="col-md-7 d-flex flex-column justify-content-center">
          <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
          <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
          <img src="https://picsum.photos/600" alt="" class="img-fluid rounded">
        </div>
      </div>
</section>