<!-- header -->
<section class="banner row m-0">
    <div class="col-12 col-sm-4 col-lg-6">
    </div>
    <div class="col-12 col-sm-8 col-lg-6 p-5 m-auto">
        <div class="banner_box text-center rounded p-4">
            <img src="https://cdn3.iconfinder.com/data/icons/graphic-and-web-design/64/PACKAGING_DESIGN-1024.png" alt="" class="banner_img">
            <h1>Very Nice E-commerce</h1>
            <p class="text-justify m-0">Welcome to our Ecommerce platform, where shopping meets convenience and variety. Explore a world of products ranging from fashion, electronics, home essentials, and more. With a user-friendly interface, secure transactions, and a seamless shopping experience, we make it easy for you to find and purchase the items you love.</p>
        </div>
    </div>
</section>

<!-- PRODUCTS -->
<section class="container-fluid d-flex justify-content-center">
    <span *ngIf="!products">Cargando...</span>
    <div class="container row" *ngIf="products">

        <div class="col-12 col-sm-4 col-lg-3 product" *ngFor="let product of products">
            <figure class="effect-goliath">
                <img [src]="product.img" alt="{{product.description}}" class="product_img"/>
                <figcaption>
                    <h2>{{product.name | titlecase}}</h2>

                        <p class="text-center">$ {{product.cost}}</p>

                    <a routerLink="details/{{product.id}}"></a>
                </figcaption>			
            </figure>



            <div class="product-info">
                <p>{{product.description}}</p>
            </div>
        </div>

    </div>
</section>


<!-- FEATURES -->
<section class="container marketing">

    <div class="row featurette">
        <div class="col-md-7 d-flex flex-column justify-content-center">
          <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
          <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
          <img src="https://picsum.photos/600" alt="" class="img-fluid rounded">
        </div>
      </div>
</section>