<div class="p-3 h-100">


<section *ngIf="products" >


<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      
     

      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef> 
          <mat-checkbox
          [checked]="isCheck()"
          (change)="checkAll($event)"
          ></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
          [checked]="exists(row)"
          (change)="check(row, $event)"
          ></mat-checkbox>

        </td>
    </ng-container>
  
      <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        
        <!-- Brand Column -->
        <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
            <td mat-cell *matCellDef="let row"> {{row.brand}} </td>
        </ng-container>
        
        <!-- Cost Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let row"> 
          
          <input type="number" [(ngModel)]="row.cost" (ngModelChange)="checkOne(row)">

        </td>

      </ng-container>
  
        <!-- Stock Column -->
        <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let row"> 
              <input type="number" [(ngModel)]="row.stock" (ngModelChange)="checkOne(row)">
            </td>
          </ng-container>

      <!-- CreatedAt Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let row"> {{row.category }} </td>
      </ng-container>
      
      <!-- CreatedAt Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
        <td mat-cell *matCellDef="let row"> {{row.createdAt | date:'dd-MM-yyyy'}} </td>
      </ng-container>
  
      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let row" class="gap-2"> 
            <button routerLink="../edit-product/{{row.id}}" class="btn-styled">
                <i class="fa-solid fa-pen"></i>
            </button>
            <button routerLink="../edit-product/{{row.id}}" class="btn-styled_inv">
              <i class="fa-solid fa-trash"></i>
          </button>        
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
  </div>
</section>

<section *ngIf="products && !products[0]" class="d-flex flex-column align-items-center justify-content-center">
  <h4 class="text-center">
    There is no Products...
  </h4>
  <button class="btn btn-styled my-4" routerLink="../new-product">Create Product</button>
</section>

<section *ngIf="waiting" class="h-100 d-flex justify-content-center align-items-center">
  Loading...
</section>

</div>