<section>
    <section [ngClass]="{'blur': sending || received || error.error}" class="container m-auto">



        <form (ngSubmit)="onCreate()"  #f="ngForm" [formGroup]="newProductForm" class=" row">

            <div class="col-12 col-sm-4">

                <label class="custom-file-upload img-card d-flex">
                    <i class="fa-solid fa-pencil"></i>
                    <input type="file" (change)="selectImg($event)">
                    <img [src]=" newProductForm.value.img? newProductForm.value.img : 'https://cdn3.iconfinder.com/data/icons/graphic-and-web-design/64/PACKAGING_DESIGN-1024.png'"
                        class="img-fluid rounded-start" alt="Foto de producto">
                </label>
            </div>

            <div class="col-12 col-sm-8">
                <h2 class="mb-3">{{title}}</h2>

                <mat-form-field class="input-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="name of the product" formControlName="name">
                  </mat-form-field>

                  <mat-form-field class="input-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description of the product" formControlName="description"></textarea>
                  </mat-form-field>
                
                      <mat-form-field class="input-full-width">
                        <mat-label>Brand</mat-label>
                        <mat-select formControlName="brandId">
                            <mat-option value="" selected disabled>Select Brand</mat-option>
                            @for (brand of brands; track brand) {
                                <mat-option [value]="brand.id">{{brand.name}}</mat-option>
                            }
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="input-full-width">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="categoryId">
                            <mat-option value="" selected disabled>Select Categroy</mat-option>
                            @for (category of categories; track category) {
                                <mat-option [value]="category.id">{{category.name}}</mat-option>
                            }
                        </mat-select>
                      </mat-form-field>
         
             <div class="d-flex gap-3">
                    <mat-form-field class="input-full-width">
                        <mat-label>Stock</mat-label>
                        <input type="number" matInput placeholder="Stock of the product" formControlName="stock">
                      </mat-form-field>


                  <mat-form-field class="input-full-width">
                    <mat-label>Cost</mat-label>
                    <span matTextPrefix>$ &nbsp;</span>
                    <input type="number" matInput placeholder="Cost of the product" formControlName="cost">
                  </mat-form-field>
            </div>
                    <button type="submit" class="btn-styled mt-3">Create Product</button>

            </div>

        </form>
    </section>






    <div class="screen spinner-screen" *ngIf="sending">
        <mat-spinner></mat-spinner>
    </div>

    <div class="screen wait-screen animate__animated animate__bounceIn" *ngIf="received">
        <p>Product Created!</p>
        <button class="btn button">Go back!</button>
    </div>

    <div class="screen wait-screen animate__animated animate__bounceIn" *ngIf="error.error">
        <p>¡Error!</p>
        <p><i>{{error.message}}</i></p>
        <button class="btn button" (click)="reintentar()">Volver a intentar</button>
    </div>
</section>