<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">E-Commerce</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarsExample05">
        
        <ul class="navbar-nav me-5 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="shop" data-bs-toggle="dropdown" role="button" aria-expanded="false">Shop</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>

        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>

    </div>
  </nav> -->

  <nav class="container-fluid dark_bg d-flex justify-content-between align-content-center">
    <div class="navbar-logo p-3" routerLink="">
        <img src="../../../assets/imgs/logo.png" alt="" class="img-fluid">
    </div>

    <div class="navbar-menu d-none d-md-flex flex-wrap justify-content-center align-content-center">
      <ul class="navbar-nav d-flex flex-row gap-3 justify-content-center align-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" aria-current="page" routerLink="" [routerLinkActiveOptions]="{exact:
            true}">Home</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLinkActive="active-link" routerLink="shop" aria-expanded="false">Shop</a>
          <ul class="dropdown-menu">
            @for (cat of categories; track $index) {
              <li><a class="dropdown-item"  [routerLink]="'shop/'+ cat.name">{{cat.name}}</a></li>
            }

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" aria-current="page" routerLink="about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" aria-current="page" routerLink="admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" aria-current="page" routerLink="user">User</a>
        </li>
        <li class="nav-item ms-5">
          
          <form role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          </form>
        </li>
      </ul>

    </div>



    <!-- <div class="navbar-user d-none d-md-flex flex-wrap justify-content-center align-content-center">
      <i class="fa-solid fa-user fa-xl"></i>
      <i class="fa-solid fa-cart-shopping fa-xl"></i>
    </div> -->
    <!-- <div class="navbar-admin d-none d-md-flex flex-wrap justify-content-center align-content-center">
      <i class="fa-solid fa-user fa-xl"></i>
      <i class="fa-solid fa-cart-shopping fa-xl"></i>
    </div> -->

    <div class="navbar-login d-none d-md-flex flex-wrap justify-content-center align-content-center">
      <a class="btn-styled" routerLink="login" *ngIf="!isLogged">Login</a>
      <i class="fa-solid fa-cart-shopping fa-xl" *ngIf="isLogged"></i>
      <a class="btn-styled" *ngIf="isLogged" (click)="logout()">Logout</a>
    </div>

    <div class="navbar-mobile d-flex flex-wrap justify-content-center align-content-center d-md-none">
      
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="size-xl">menu</mat-icon>
      </button>
    </div>

   
    <mat-menu #menu="matMenu">

      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>

      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>

      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>

    </mat-menu>


  </nav>