@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;700&display=swap');

:root{
    /*COLORS */
    --light_color: #F1E0C5;
    --light_color_50: #f1e0c580;
    --light_color_25: #f1e0c54b;

    --dark_color: #1f1e1e;
    --bs-dark-rgb:31, 30, 30;
    --dark_color_25: #1f1e1e3d;
    
    --primary_color:#FFC299;
    
    --secondary_color:#914D76;


    /* FONTS */
    --primary_font:'Sorts Mill Goudy', serif;
    --secondary_font:'Halant', serif;
}

/* NORMALIZE */
app-root{
    min-height: 100vh;
}
.dark_bg{
    background-color: var(--dark_color);
}
*{
    font-family: var(--secondary_font);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--primary_font);
}
.mat-mdc-dialog-container .mdc-dialog__title{
    font-weight: bold !important;
    color: var(--light_color) !important;
    font-family: var(--primary_font) !important;
}
.mat-mdc-dialog-container .mdc-dialog__content{
    font-family: var(--secondary_font) !important;
}


.text-justify {
    text-align: justify;
}
.text-light{
    color: var(--light_color);
}

/* DASH-BOARD */
  .btn-dash{
    border-radius: 10px;
    box-shadow: -5px 5px 5px var(--dark_color_25);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light_color_25);
    transition: all 0.5s;
    cursor: pointer;
}
.btn-dash:hover{
    background-color: var(--light_color_50);
    scale:1.03 }

.img-dash{
    border-radius: 100%;
    width: 100%;
    max-width: 200px;
}


/* BUTTON STYLES */
.btn-styled{
    background-color: var(--secondary_color);
    color: var(--light_color);
    text-decoration: none;
    cursor: pointer;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    border:none;
    font-family: var(--secondary_font);
    transition: all 0.5s;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    text-transform: uppercase;
}

.btn-styled:hover{
    background-color: var(--light_color);
    color: var(--secondary_color);
}

.btn-styled_inv{
    background-color: var(--light_color);
    color: var(--secondary_color);
    text-decoration: none;
    cursor: pointer;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    border:none;
    font-family: var(--secondary_font);
    transition: all 0.5s;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    text-transform: uppercase;
}

.btn-styled_inv:hover{
    background-color: var(--secondary_color);
    color: var(--light_color);
}


/* BLUR STATUS */

.blur{
    transition: filter 1s;
    filter: blur(2px);
}

.screen{
    height: 140px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.confirmation-dialog-panel{
    max-width: 350px;
}

::ng-deep .mat-mdc-progress-spinner{
    height: 50% !important;
    margin: auto;
    --mdc-circular-progress-active-indicator-color: var(--secondary_color) !important;
}
:focus-visible {
    outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



// PRODUCT BOX


.product_img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}


/*-----------------*/
/***** Goliath *****/
/*-----------------*/
figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
}

figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
} 
figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*---------------------------------*/
figure.effect-goliath {
	background: var(--dark_color);
}

figure.effect-goliath img,
figure.effect-goliath h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-goliath img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-goliath h2,
figure.effect-goliath p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0.25rem;
}

figure.effect-goliath p {
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}

figure.effect-goliath:hover img {
	-webkit-transform: translate3d(0,-65px,0);
	transform: translate3d(0,-65px,0);
}

figure.effect-goliath:hover h2 {
	-webkit-transform: translate3d(0,-80px,0);
	transform: translate3d(0,-80px,0);
}

figure.effect-goliath:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figcaption p{
   width: 100%;
}