@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;700&display=swap');


    /*COLORS */
    $light_color: #F1E0C5;
    $light_color_50: #f1e0c580;
    $light_color_25: #f1e0c54b;

    $dark_color: #1f1e1e;
    $bs-dark-rgb:31, 30, 30;
    $dark_color_25: #1f1e1e3d;
    
    $primary_color:#FFC299;
    
    $secondary_color:#914D76;

    /* FONTS */
    $primary_font:'Poppins', sans-serif;
    $secondary_font:'Poppins', sans-serif;
