@import './styles.variables.scss';
@import './styles.goliath.scss';


/* NORMALIZE */
app-root{
    min-height: 100vh;
}
.dark_bg{
    background-color: $dark_color;
}
*{
    font-family: $secondary_font;
}

h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    font-family: $primary_font;
}
.mat-mdc-dialog-container .mdc-dialog__title{
    font-weight: bold !important;
    color: $light_color !important;
    font-family: $primary_font !important;
}
.mat-mdc-dialog-container .mdc-dialog__content{
    font-family: $secondary_font !important;
}


.text-justify {
    text-align: justify;
}
.text-light{
    color: $light_color;
}


.rounded{
    border-radius: 30px !important;
}
/* DASH-BOARD */
  .btn-dash{
    border-radius: 10px;
    box-shadow: -5px 5px 5px $dark_color_25;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light_color_25;
    transition: all 0.5s;
    cursor: pointer;
}
.btn-dash:hover{
    background-color: $light_color_50;
    scale:1.03 }

.img-dash{
    border-radius: 100%;
    width: 100%;
    max-width: 200px;
}


/* BUTTON STYLES */
.btn-styled{
    background-color: $secondary_color;
    color: $light_color;
    text-decoration: none;
    cursor: pointer;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    border:none;
    font-family: $secondary_font;
    transition: all 0.5s;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    text-transform: uppercase;
}

.btn-styled:hover{
    background-color: $light_color;
    color: $secondary_color;
}

.btn-styled_inv{
    background-color: $light_color;
    color: $secondary_color;
    text-decoration: none;
    cursor: pointer;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    border:none;
    font-family: $secondary_font;
    transition: all 0.5s;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    text-transform: uppercase;
}

.btn-styled_inv:hover{
    background-color: $secondary_color;
    color: $light_color;
}


/* BLUR STATUS */

.blur{
    transition: filter 1s;
    filter: blur(2px);
}

.screen{
    height: 140px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.confirmation-dialog-panel{
    max-width: 350px;
}

::ng-deep .mat-mdc-progress-spinner{
    height: 50% !important;
    margin: auto;
    --mdc-circular-progress-active-indicator-color: $secondary_color !important;
}

:focus-visible {
    outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



// PRODUCT BOX


.product_img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    background-color: transparent;
}

